@import "tailwindcss";
@custom-variant hover (&:hover);
@config "../../tailwind.config.js";

@theme {
  --color-primary: #1A4D42;
  --color-primaryLight: #5C8A7C;
  --color-primarySoft: #DCEAE5;
  --color-accent: #E8927C;
  --color-accentDark: #D97B62;
  --color-dark: #1E293B;
  --color-light: #FDF9F6;
}